body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: monospace;
}

.button{
    max-width: 250px; 
    padding: 10px 15px; 
    background-color: bisque; 
    font-size: 20px; 
    border-radius: 10px;
}

.title {
    font-size: 40px;
    background-color: bisque;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;
    font-weight: 900;
}

.info {
    padding: 20px 10px;
    font-size: 20px;
    line-height: 30px;
}

.subtitle {
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 600;
}

.footer {
    background-color: rgb(28, 28, 70);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 10px;
    margin-top: 20px;
}

.selections{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 15px;
}

.player-selection , .computer-selection {
    max-width: 170px;
    height: auto;
    border: 2px solid gray;
    flex: 1 1 auto;
    padding: 20px;
}


.boxes {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 25px;
}

.box {
    border: 2px solid gray;
    flex: 1 1 auto;
    max-width: 170px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.player-container , .computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.computer, .player {
    display: flex;
}

.status {
    font-size: 20px;
    padding: 15px 10px;
}

.clickable {
    cursor: pointer;
}